<div>
    <div>
        <p>Hotel service</p>
    </div>
    <div>
        <p>Find free rooms:</p>
        <form method="get" action="/Home/Index">
            <label for="startDateString">Start date:</label>
            <input type="date" id="startDate" name="startDateString">
            <label for="endDateString">End date:</label>
            <input type="date" id="endDate" name="endDateString">
            <input type="submit" value="Find">
        </form>
    </div>
    <div>
        @if (ViewBag.Rooms != null) {
            <table>
                <tr>
                    <td>N0</td>
                    <td>Category name</td>
                    <td>Price per day</td>
                    <td>Capacity</td>
                    <td>Action</td>
                </tr>
                @foreach (var room in ViewBag.Rooms)
                {
                <tr>
                    <td>@room.Id</td>
                    <td>@room.RoomCategory.Name</td>
                    <td>@room.RoomCategory.PricePerDay</td>
                    <td>@room.RoomCategory.Capacity</td>
                    <td><a href="/Order/Book?roomId=@room.Id">Book room</a></td>
                </tr>
                }
            </table>
        }
    </div>
</div>
